
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    margin: 0;
    font-family: "Roboto Mono", monospace;
}

/* Header and links */

.Section1 {
    background-color: #1f2937;
    color: #f9faf8; 
}

.header {
    display: flex;
    align-items: baseline;
    padding: 10px 180px;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    flex-shrink: 0;
}

.header_links {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
gap: 16px;
}

a {
    color: #f9faf8; 
    font-size: 18px;   
}

/* Hero txt and image section */

.section2 { 
    display: flex;
    height: auto;
    padding: 50px 180px;
    background-color: #1f2937;
    color: #f9faf8;
}

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.image img {
    width: 450px;
    margin-left: 100px;
    
}

.awesome {
    color: #f9faf8 ;
    font-weight: 900;
    font-size: 48px;
}

.sub    {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 8px;
    border-style:none;
    width: 130px;
}

/* Information and thumnails section */

.section3 {
    background-color: #f9faf8;
    height: auto;
    text-align: center;
    margin-bottom: 100px;
}

p {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    
}

.covers {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.contents img {
    /* height: 150px;
    width: 150px; */
    border:5px solid #3882f6 ;
    border-radius: 8px;
}

.text {
    width: 150px;
    color: #494646;

}

/* Quote section */

.section4 {
    background-color: #e5e7eb ;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 180px;
    
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic ;
    font-weight: lighter;
    font-size: 36px;
    color: #1f2937;
    padding-bottom: 20px;
}

.signature {
    display: flex;
    justify-content: flex-end;
    color: #1f2937;
    font-weight: bold;

}


/* Call to action and alt button */

.section5 {
    background-color: #f9faf8;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 180px; 
}

.actionbox {
    background-color: #3882f6 ;
    display: flex;
    flex: 1;
    border-radius: 10px;
}

.txtbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 40px 100px;
}

.box2 {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin: 40px 100px 40px 80px;
}

.sign2 button {
    border-style: solid;
    border-color: #e5e7eb;
}

.txt {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.txt2 {
    color:  #f9faf8;
}

/* Footer */

.footer {
    background-color: #1f2937;
    color:#e5e7eb;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}




